<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
			integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@600&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="/styles/main.css"
		/>
		<title>// Book Title | The Keeper</title>
	</head>
	<body>
		<div class="book-container">
			<div class="book-section">
				<button class="edit-btn">
					<i class="fa-solid fa-pen"></i>
				</button>
				<div class="book-image-container">
					<img
						src="/assets/sample-book.jpg"
						alt="(book_title)-book"
					/>
				</div>
				<div class="book-text-section">
					<h1>Book Title</h1>
					<p class="author">Author</p>
					<div class="stars-container stars-book-section">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-regular fa-star"></i>
					</div>
					<hr>
					<p class="book-description">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ab debitis enim! Minima
						eveniet natus tempora voluptatum nam id. Repellendus!
					</p>
				</div>
			</div>
			<div class="note-section">
				<button class="add-notes">
					<i class="fa-solid fa-plus"></i> Add Note
				</button>
				<h2>NOTES</h2>
				<hr>
				<div class="notes">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt accusantium et
						quisquam enim dolorum, blanditiis possimus? Deleniti, autem nam!
					</p>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex perferendis assumenda
						laudantium, quo corrupti ducimus sint similique dignissimos. Voluptatum, deserunt
						adipisci fuga, accusamus accusantium laboriosam quo minima commodi eum veritatis
						perferendis tempore! Eos reprehenderit est accusantium quisquam debitis repellat
						deserunt hic vitae itaque eveniet, culpa laborum minima, natus blanditiis numquam.
						Officiis nulla magnam, laborum adipisci doloremque fugit. Eum, recusandae eos nihil
						doloremque id repellendus, sequi a neque eius illo temporibus odit inventore! Officia
						non suscipit nihil est accusamus doloribus iusto fugiat! Quo nostrum eligendi ipsa illum
						ab? Quod quos labore temporibus, rerum rem quas nobis tempore possimus, recusandae in
						optio.
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam totam nemo
						consectetur blanditiis cupiditate autem suscipit soluta vel, dolorem maxime eveniet
						laborum animi, necessitatibus, aspernatur quam! Voluptas non repellendus quam culpa?
						Fugit dolores exercitationem vero magnam dicta, officiis eveniet non blanditiis repellat
						velit numquam laborum, perferendis natus delectus iusto quaerat expedita porro at autem
						temporibus consequuntur sunt vel adipisci consequatur. Quibusdam tempore vel totam
						expedita possimus nobis corporis hic asperiores. Eius, voluptatem eum. Delectus
						aspernatur a assumenda magnam perspiciatis itaque eaque nisi praesentium consequatur
						voluptatum cupiditate, aperiam enim accusamus totam maxime recusandae nobis placeat ad
						laudantium provident excepturi vel corrupti, nostrum fuga. Nostrum praesentium
						accusantium corrupti, rem amet cum eveniet in, ad esse, perferendis alias. Voluptates,
						molestiae? Eos ratione atque rem nam quo, aliquid repellat cupiditate expedita
						voluptatum perspiciatis commodi illo ipsam eum doloribus dolores in ipsa impedit earum
						saepe provident deleniti quod! Dolorum blanditiis incidunt, amet odio nobis provident
						dolor corrupti ab pariatur ipsam quis accusantium quos distinctio similique nam dolorem
						laboriosam ducimus esse quae minima veritatis? Atque minima, laboriosam eligendi earum
						obcaecati cum magni quas, error corrupti delectus autem dolore est debitis ut, veritatis
						quis deleniti quidem minus deserunt sequi ipsa aperiam hic! Consequuntur possimus
						deserunt earum?
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
