<div class="container">
	<h1 class="page-title"><a href="#">The Keeper</a></h1>
	<form
		action="#"
		method="get"
		class="search-container"
	>
		<div class="search">
			<input
				type="search"
				placeholder="Search your collections..."
				class="search-input"
			/>
			<button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>
		<button type="button" class="add-book">Add New Book <i class="fa-solid fa-plus"></i></button>
	</form>
	<hr class="divider">
	<div class="content">
		<div class="books-container">
			<div class="book test-class">
				<img src="./assets/placeholder.jpg" alt="book-sample" />
			</div>
			<div class="book test-class"></div>
			<div class="book test-class"></div>
			<div class="book test-class"></div>
			<div class="book test-class"></div>
			<div class="book test-class"></div>
			<div class="book test-class"></div>
			<div class="book test-class"></div>
			<div class="book test-class"></div>
		</div>
	</div>
	
</div>
